@import "variables";

*, *:after, *:before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  background: $grey;
  color: $darkGrey;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  h2,
  h3 {
    color: $darkGrey;
  }
}

#header {
  background: $grey;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  height: 10%;
  left: 0;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  p {
    color: $red;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
    left: 0;
    margin: -14px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
  }

  img {
    float: left;
    height: 100%;
    padding: $padding;

    &.adland-logo {
      float: right;
    }
  }
}

#info-tab {
  background: $grey;
  border-top-right-radius: $padding;
  border-bottom-right-radius: $padding;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  left: 0;
  padding: $padding $padding 12px;
  position: fixed;
  top: 20%;
  transition: left 0.5s;
  z-index: 3;
  
  &.open {
    left: $infoWidth;
  }
}

#info {
  background: $grey;
  border-bottom-right-radius: $padding;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
  left: -$infoWidth;
  max-height: 75%;
  overflow: auto;
  padding: $padding;
  position: fixed;
  top: 20%;
  transition: left 0.5s;
  width: $infoWidth;
  z-index: 2;

  &.open {
    left: 0;
  }

  a {
    color: $darkGrey;
    text-decoration: none;

    img {
      width: $twitterHeight;
    }

    span {
      line-height: $twitterHeight;
      margin-left: 5px;
      vertical-align: top;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  img.key {
    display: none;
  }
}

#map-canvas {
  background: $grey;
  height: 90%;
  left: 0;
  position: fixed;
  top: 10%;
  width: 100%;
  z-index: 1;

  a[href^="http://maps.google.com/maps"],
  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none !important;
  }

  .gmnoprint div {
    background: none !important;
  }

  img[src="img/info-close.svg"],
  img[src="img/info-close.png"] {
    z-index: 1;
  }

  .gm-style-iw {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.25);
    max-width: 400px;
    padding: $padding;
    position: relative;

    h2,
    h3 {
      margin-bottom: 0;
    }

    h3,
    p {
      margin-top: 5px;
    }

    a {
      color: $red;
      text-decoration: none;

      &:hover {
        opacity: 0.5;
      }
    }

    &.event {
      h2 {
        margin-top: 0;
      }
    }

    .arrow {
      border-top: 30px solid $grey;
      border-left: 40px solid transparent;
      height: 0;
      left: -30px;
      position: absolute;
      text-indent: -9999px;
      top: -5px;
      width: 0;
    }

    img {
      max-width: 100%;
    }

    .vote-wrapper {
      overflow: hidden;
    }

    .content-wrapper {
      position: relative;

      img {
        display: block;

        &.silhouette {
          bottom: 0;
          right: 0;
          position: absolute;
          width: 53px;
        }
      }
    }

    .pub-logo {
      float: left;
      height: $voteWrapperHeight;
      width: auto;
    }

    .vote-btn {
      background: $red;
      border-radius: 5px;
      color: $white;
      cursor: pointer;
      float: right;
      font-weight: bold;
      height: $voteWrapperHeight;
      line-height: $voteWrapperHeight;
      padding: 0 15px;

      &:hover {
        opacity: 0.5;
      }

      &.disabled {
        background: $darkGrey;
        cursor: default;
        opacity: 0.25;

        &:hover {
          opacity: 0.25;
        }
      }
    }
  }
}

body.voted {
  #map-canvas {
    .gm-style-iw {
      .vote-btn {
        background: $darkGrey;
        cursor: default;
        opacity: 0.25;

        &:hover {
          opacity: 0.25;
        }
      }
    }
  }
}

#key {
  bottom: $padding;
  left: $padding;
  position: fixed;
  z-index: 2;
}

@media (max-width: 600px) {
  #header {
    p {
      font-size: 12px;
      margin: -8px 0 0;
    }
  }
  #key {
    display: none;
  }

  #info img {
    display: block;
  }
}